.chat-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
  background-color: #f5f4ef;
  justify-content: center;
  width: 100%;
  }

  .chat-content {
    grid-column: 2 / -1;
    grid-row: 2 / -1; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .chat-list {
    background-color: #f4f4f8;
    padding: 20px;
  }
  
  .chat-search input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
    margin-left:-9px;
    border-radius: 10px;
    border: none;
  }
  
  .chat-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .chat-user.active {
    background-color: #e0e0e0;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info .user-name {
    font-weight: bold;
  }
  
  .user-info .user-status {
    font-size: 0.8rem;
    color: #666;
  }
  
  .chat-messages {
    width: 70%;
    padding: 20px;
  }
  
  .message-date {
    text-align: center;
    color: #999;
    margin-bottom: 20px;
  }
  
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .message.received .message-content {
    background-color: #e0e0e0;
    color: #000;
  }
  
  .message.sent .message-content {
    background-color: #9bdeac;
    color: #000;
    align-self: flex-end;
  }
  
  .message-content {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
  }

  .top-section {
    grid-column: 1 / -1;
  grid-row: 1; 
  }