/* HomePage.css */
@font-face {
    font-family: 'Itim';
    src: url('./fonts/Itim-Regular.ttf') format('truetype');
    /* Add additional font formats (e.g., woff, woff2) as needed */
}

body {
    overflow-x: hidden;
}


.header {
    height: 100px;
    background-color: #E4D7F5;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
}

.allTextHeader {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* Add padding to create space between the title and links */
}

.Title {
    font-family: 'Itim', sans-serif; /* Apply Itim font to the body */
    margin: 0;
    /* Remove default margin */
    font-size: 35px;
    

}

.Home-page,
.profile,
.login {
    text-align: right;
    /* Align links to the right */
    margin: 0 10px;
    justify-content: space-between;
    text-decoration: none;
}


/* MAIN CONTENT SECTION */
.main-content {
    display: flex;
    flex-direction: row;
    margin: 125px 0 110px;
    margin-top: 100px;
    height: 800px;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 250px);
    background-color: #F5F4EF;
}

.MessageTitle {
    font-size: 20px;
    font-weight: 900;
}


@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        /* Change to row layout */
    }

    .LeftBox,
    .RightBox {
        flex-basis: 50%;
        margin-bottom: 0px;
    }

    .RightBox .box {
        height: 80px;
    }
}

.LeftBox,
.RightBox {
    flex: 1;
}


.LeftBox {
    display: flex;
    flex-direction: column;
    background-color: #E4D7F5;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin: 50px 0;
    margin-left: 50px;
    margin-right: 50px;


}


.LeftBox > * {
    padding: 10px;
    margin:  10px 40px;
    resize: none;
    
}

.Text-Box-subject {
    border: 1px solid black;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 80%;
    font-size: 15px;
}

.Text-Box-main {
    border: 1px solid black;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 250px;
    width: 80%;
    font-size: 15px;
}


/* RIGHT BOX SECTION */
.RightBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.RightBox .box {
    width: calc(50% - 20px); /* 50% width with spacing */
    margin-bottom: 30px; /* Spacing between boxes */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2); /* Box shadow */
    border-radius: 5px; /* Rounded corners */
    background-color: rgb(255, 255, 255); /* Box background color */
    border: 1px solid #000;
    display: flex;
    align-items: center;
    flex-direction: column; /* Display boxes in a column */

}



/* FOOTER SECTION */
.footer {
    height: 100px;
    width: 100vw;

    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    background-color: #E4D7F5;
    font-family: 'Itim', sans-serif; /* Apply Itim font to the body */
    text-decoration: none;
    /* Add padding to create space between content and footer */
}

.contact {
    padding-left: 20px;
    text-decoration: none;
}

.headerLinks{
    font-family: 'Itim', sans-serif; /* Apply Itim font to the body */
    
}


.Symbol{
    padding: 10px;
}