/* .react-calendar {
    width: 350px; 
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #a0a096;
    font-family: Arial, sans-serif;
}

  /* This will change the background color of each day tile 
.react-calendar__month-view__days__day {
    background-color: #1311113b; 
} */
  
  /* To change the text color */
/* .react-calendar__month-view__days__day > abbr {
color: #333333; 
} */

/* To change the color of the current day */
/* .react-calendar__month-view__days__day--today > abbr {
color: #ffffff; 
background-color: #006edc; 
border-radius: 50%; 
} */

/* To change the color of the selected day */
/* .react-calendar__month-view__days__day--selected > abbr {
color: #ffffff; 
background-color: #ff7518;
border-radius: 50%; 
} */

.react-calendar {
    width: 350px;
    max-width: 100%;
    /* background-color: #fff; */
    border: 1px solid #a0a096;
    font-family: Arial, sans-serif;
  }
  
  .react-calendar__navigation button {
    color: #333;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    color: #666;
    font-weight: bold;
    font-size: 10px;
  }
  
  .react-calendar__month-view__days__day {
    background-color: transparent;
    color: #333;
  }
  
  .react-calendar__tile--now {
    background: #0052cc;
    color: white;
  }
  
  .react-calendar__tile--active {
    background: #0099ff;
    color: white;
  }
  
  /* hover effect for days */
  .react-calendar__tile:hover {
    background-color: #e6e6e6;
  }
  
  /* additional styles for 'neighboringMonth' days (from the previous or next months) */
  .react-calendar__tile--neighboringMonth {
    background-color: #202023;
    color: #d0d0da;
  }
  
  /* styles for weekends */
  .react-calendar__month-view__days__day--weekend {
    color: #d10000b0;
  }
  
  /* Adjust padding and margin of tiles to ensure they are evenly spaced and aligned */
  .react-calendar__tile {
    padding: 10px 5px;
    margin: 2px;
  }
  
  /* Change the border radius for the tiles if you want rounded corners */
  .react-calendar__tile {
    border-radius: 5px;
  }

  